body {
	margin: 0;
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100%;
    width: 350px;
    float: left;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.content-wrapper {
    margin-left: 350px; /* відступ на ширину сайдбару */
    margin-right: auto;
    padding: 20px;
}

.accordion-button {
    background-color: #343a40;
    color: white;
}

.accordion-body {
    background-color: #343a40;
    color: white;
}

.sidebar a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.sidebar a:hover {
    color: aqua;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.admin-profile {
    display: flex; /* Вирівнює елементи в рядок */
    align-items: center; /* Вирівнює по вертикалі */
    gap: 10px; /* Відстань між фото та текстом */
    padding: 10px; /* Відступи навколо блоку */
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); /* Легка тінь */
    width: 100%; /* Підлаштовується під контент */
}

.admin-photo {
    width: 70px; /* Розмір фото */
    height: 70px; /* Розмір фото */
    border-radius: 50%; /* Робить фото круглим */
    object-fit: cover; /* Адаптує зображення до рамки */
    border: 2px solid #ddd; /* Додатковий контур */
}

.admin-info {
    display: flex; /* Вирівнює ім'я та статус вертикально */
    flex-direction: column;
}

.admin-name {
    margin: 0;
    font-size: 1.2rem; /* Розмір шрифту імені */
    font-weight: 600; /* Жирний текст */
}

.admin-status {
    margin: 0;
    font-size: 0.9rem; /* Розмір шрифту статусу */
    color: greenyellow; /* Колір статусу */
    font-weight: 500; /* Півжирний текст */
}
