@{
    Layout = "_AdminLayout";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin/addmovies.css" asp-append-version="true" />
</head>

<div class="container">Wellcome Admin!</div>
